*{
    padding: 0px;
    margin: 0px;
    scroll-behavior: smooth;
    box-sizing: border-box;
}
h1{
    text-align: center;
    margin-bottom: 30px;
}
div{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    gap: 2rem;
}
.nw{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 31%;
    border: 3px solid black;
    border-radius: 10px;
    
}
.ns{
width: 300px;
height: 300px;
clip-path: polygon(50% 100%, 0 0, 100% 0%);
text-align: center;
border: red solid 40px;


}
.nw img{
    border-radius: 300px;
    border: 7px solid rgb(218, 218, 62);
    width: 200px;
    height: 200px;

}
@media screen and (max-width: 467px){
    div{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    
}
.nw{
    display: flex;
    flex-direction: column;
    width: 100%;
}


}

