*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
    color: darkcyan;
    padding: 20px;
    font-size: 15px;
    transition: all 2s ;
    background-color: orange;
    border-radius: 10px;


}
a:hover{
    text-decoration: underline;
    font-size: 20px;

}
div{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 100px;
    
}
.no{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    height: 220px;
    border: 12px double orange;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    background-color: darkcyan;
    box-shadow: 15px 15px 20px 5px orange;
    
    
}
.bp{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    


}
.no img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    
    margin-right: 300px;
} 
h1{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    color: darkcyan;
}
@media screen and (max-width: 467px){
    .no{
        display: flex;
        flex-direction: column;
        width: 100%;
        border-radius: 10px;
        height: 400px;
    }
    .no img{
        border-radius: 0px;
        width: 150px;
        height: 150px;
        margin-left: 300px;
        margin-top: 0px;
        border-radius: 50%;

    }
        div{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    
}
}
