
body{
    display: flex;
    justify-content: center;
    align-items: center;
}
form{
    height: auto;
    text-align: center;
    line-height: 3rem;
    background-color: white;
    box-shadow: darkblue;

border-radius: 20px;
width: 40rem;
color: darkcyan;
box-shadow: 2px 5px 7px 10px darkcyan;
}
.vv{
    width: 250px;
    height: 40px;
    border-radius: 8px;
    background-color: rgb(196, 192, 192);
    border: solid 2px darkcyan;

    
    text-align: center;
    margin-bottom: 10px;
}
.nn{
    width: 250px;
    height: 40px;
border-radius: 8px;
    text-align: center;
    border: solid 5px orange;
    font-weight: bolder;
    
}
button{
    background-color: orange;
    width: 150PX;
    height: 30px;
    border: solid 2px #000000;
    border-radius: 10px;
    transition:all 2s;
}
button:hover{
    width: 160px;
    box-shadow: 2px 4px 5px 7px darkblue;

}
.bc{
    width: 400px;
    height: 100px;
    border-radius: 10px;
    text-align: center;
}
@media screen and (max-width: 467px){
    .vv{
    width: 220px;
    height: 20px;
    border-radius: 8px;
    background-color: rgb(196, 192, 192);
    border: solid 2px darkcyan;

    
    text-align: center;
    margin-bottom: 10px;
}
form{
    height: 520px;
    text-align: center;
    line-height: 1.6rem;
    background-color: white;
    box-shadow: darkblue;

border-radius: 20px;
width: 250px;
color: darkcyan;
box-shadow: 2px 5px 7px 10px darkcyan;
}
.bc{
    width: 220px;
    height: 100px;
    border-radius: 10px;
    text-align: center;
}
}