*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

nav{
    position: fixed;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    color: antiquewhite;
    background-color: darkblue;
    height: 60px;
}
a{
    text-decoration: none;
    color: white;
    padding: 20px;
    font-size: 25px;

}
a:hover{
    font-size: 30px;
    color: rgb(235, 175, 66);
    
    
}
a:active{
    color: rgb(184, 101, 101);
}
.bc{
    background-image: url("./3-1024x1024.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    text-align: center;
}
.bd{
    flex: 1;
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    z-index: 1;
    position: absolute;
    top: 92%;
   
    width: 100%;
    opacity: 1;
    z-index: 0;
}
.nh{
    background-color: white;
    width: 31%;
    height: 350px;
    border-radius: 8px;
    padding: 25px;
    text-align: center;
    overflow: hidden;
    position: relative;
    z-index: 1;
    border: 3px solid black;
    
    transition: 1s;
    overflow: hidden;
}
.nh img{
    width: 100%;
    height: 250px;
}
.nh:hover{
    background-color: rgb(158, 157, 157);
    transform: scale(1.1);
    
}
footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
    background-color: darkblue;
    text-align: center;
    padding: 15px 0;
    margin-top: 680px;
    
    color: white;
    
}
.va{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 40px;
    
    

    
}
@media screen and (max-width: 467px){
    nav{
        position: fixed;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: auto;
      
    }
    a{
        font-size: 13px;
    }
    a:hover{
    font-size: 14px;
    color: rgb(235, 175, 66);
    
    
}
    .bc{
        background-size: 100%;
    }
    .nh{
    background-color: white;
    width: 98%;
    height: 350px;
    border-radius: 8px;
    padding: 10px;
    text-align: center;
    overflow: hidden;
 
    border: 3px solid black;
    
    transition: 1s;
    overflow: hidden;
        position: relative;
    z-index: 0;
    
}
.bd{
    top: 400px;
    

}
footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 95rem;
}
 
}

