body{
    margin: 0px;
    background-image: url("./geometric-gradient-technology-background_23-2149110132.avif"); 
    background-repeat: no-repeat;
    background-size: cover;
    
}
nav{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
    color: aliceblue;
}
form{
    
height: auto;

display: flex;
flex-flow: column wrap;
justify-content: center;
align-items: center;
align-content: center;
width: 33rem;
color: white;
background-color: white;
background-repeat: no-repeat;
background-size: cover;
border-radius: 8px;
margin-left: auto;
margin-right: auto;
margin-top: 80px;
box-shadow: 15px 15px 20px 25px white;


}



#vv{
    width: 300px;
    height: 50px;
    border-radius: 8px;
    border: none;
     background-color: rgb(235, 227, 227);
}
#nh{
        width: 300px;
    height: 50px;
    border-radius: 8px;
    background-color: rgb(235, 227, 227);

   border: none;

} 
.bx{
    width: 300px;
    height: 60px;
    border-radius: 8px;
    
    
    background-color: rgb(80, 34, 99);
    transition: all 2s;
}
.bx:hover{
    
    box-shadow: 1px 2px 3px 4px darkblue;


}
a{
    text-decoration: none;
    color: orange;
    font-family: cursive;
    transition: all 2s;
    font-weight: bold;
}
a:hover{
    text-decoration: underline;
    color: darkblue;
   
}
#vv{
    animation:dod 2s 0s linear ;
}
.my{
    color: rgb(37, 37, 87);
    text-align: center;
}
.vd{

    color: black;
    
}
@media screen and (max-width: 467px){
    form{
        display: flex;
        justify-content: center;
        align-items: center;
         height: 500px;
    text-align: center;
    line-height: 1.6rem;
    background-color: white;
    box-shadow: darkblue;

border-radius: 20px;
width: 280px;
color: darkcyan;
box-shadow: 2px 5px 7px 10px darkcyan;

margin-bottom: 60px;
}
    .body{
        background-size: 450px;
        text-align: center;

   
        
    }
    #vv,#nh{
    width: 120px;
    height: 30px;
    border-radius: 8px;
    border: none;
     background-color: rgb(235, 227, 227);
}
.bx{
    width: 150px;
    height: 40px;
    border-radius: 8px;

}
}

