body{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    background-image: url("./pngtree-animated-login-image_16607697.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
h2{
    color: rgb(80, 34, 99);

}
form
{
    height: auto;

display: flex;
flex-flow: column wrap;
justify-content: center;
align-items: center;
align-content: center;
width: 25rem;
color: white;
background-color: white;
background-repeat: no-repeat;
background-size: cover;
border-radius: 20px;
box-shadow: 1px 2px 3px 2px white;


}
.vv{
    width: 250px;
    height: 40px;
 border: none;
 background-color: rgb(199, 195, 195);
    
    text-align: center;
    border-radius: 8px;
    margin-top: 10px;
    
   
}
.bx{
    width: 250px;
    height: 40px;
    border-radius: 10px;
    margin-top: 20px;
    
    
    background-color: rgb(80, 34, 99);
    transition: all 0.5s;
    margin-top: 40px;
    color: white;
}
.bx:hover{
    width: 255px;
    box-shadow: 1px 2px 4px 8px rgb(185, 158, 197);
 

}
a{
    text-decoration: none;
    color: white;
    font-family: cursive;
    transition: all 1s;
}
a:hover{
    text-decoration: underline;
    
    letter-spacing: 1px;
}
a{
    animation:anione 2s 0s linear ;
}
h1{
    color: rgb(80, 34, 99);
    
}
.ve{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 40px;
    
}
@media screen and (max-width: 467px){
    form{
        display: flex;
        justify-content: center;
        align-items: center;
         height: auto;
    text-align: center;
    line-height: 1.2rem;
    background-color: white;
    box-shadow: darkblue;

border-radius: 20px;
width: 300px;
color: darkcyan;
box-shadow: 2px 5px 7px 10px darkcyan;

margin-bottom: 60px;
}

